@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@500&family=Mukta&family=Ubuntu:ital,wght@1,700&display=swap');


body {
    background-color: #f4f4f4;
    margin: 0;
}

img {
    height: 12rem;
    align-items: center;
    margin-top: 1rem;
}

header {
    background-color: #00375b;
    text-align: center;
    margin-bottom: 0px;
}

h1 {
    background-color: #00375b;
    color: rgb(226, 226, 226);
    font-family: 'Cairo Play', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.primer-a {
    margin-left: 0%;
    margin-top: 0px;
    font-size: 1.6rem;
    background-color: #005677;
}

a {
    background-color: #00375b;
    color: rgb(226, 226, 226);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-right: 0px;
    margin-left: 10px;
    padding: 0px 7px;
}

.secundario {
    background-color: #005677;
    color: rgb(226, 226, 226);
    font-family: Verdana, sans-serif;
    font-family: sans-serif;
    font-size: 1.5rem;
}

h3 {
    margin-inline-start: 10px;
    padding: 5px;
}

.sin-vineta {
    list-style-type: none;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    margin-inline-start: 10px;
    font-size: 1.2rem;
}

footer {
    background-color: #005677;
    margin: 0px;
}

.footer {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
}

.info {
    font-family: 'Mukta', sans-serif;
    font-size: 2rem;
    line-height: 35px;
    margin: 20px 90px;

}

.volver-inicio {
    font-size: 30px;
    margin: 0px 90px;
}